<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Rune dashboard</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="./css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <style>
    body {
      padding-top: 70px;
      padding-bottom: 30px;
      }

      .theme-dropdown .dropdown-menu {
        position: static;
        display: block;
        margin-bottom: 20px;
      }

      .theme-showcase > p > .btn {
        margin: 5px 0;
      }

      .theme-showcase .navbar .container {
        width: auto;
      }

      input {
        width: 300px;
        display: inline;
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
      }

      .projectList {
        cursor:pointer;
      }
    </style>
  </head>


  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/project_list">Rune</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/project_list">project list</a></li>
            <li><a href="/instance_list">instance list</a></li>
            <li><a href="https://github.com/hoonkim/rune">download</a></li>
            <li><a href="/">logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container theme-showcase" role="main">
      <div class="page-header">
        <h1>CODE LIST</h1>
      </div>
      <div class="row">
        <div class="col-md-10">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>name</th>
                  <th>last update time</th>
                </tr>
              </thead>
              <tbody>
                {% for id, project_id, name, code, last_update_time in list %}
                  <tr class="projectList">
                    <td onclick="javascript:viewCodeWindow({{id}})"> {{id}} </td>
                    <td onclick="javascript:viewCodeWindow({{id}})"> {{name}} </td>
                    <td onclick="javascript:viewCodeWindow({{id}})"> {{ last_update_time}} </td>
                    <td>
                        <button onclick="removeCode('{{id}}','{{project_id}}', '{{name}}');" class="btn btn-lg btn-primary btn-sm"> 
                            remove 
                        </button>
                    </td>
                  </tr>
                {% endfor %}
                <tr>
                  <td colspan="3"></td>
                  <td>
                    <div id="codePopupLayer">
                        <button class="btn btn-lg btn-primary" id="btnCodeAdd"> add </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
<!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="./js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./js/ie10-viewport-bug-workaround.js"></script>
    <script   src="http://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
    <script language="Javascript">
      $("#btnCodeAdd").on("click", function(evt){
        location.href="/set_code?project_id="+{{project_id}}
      });

      function removeCode(id, projectId, name) {
        location.href="/remove_code_proc?id=" + id + "&project_id=" + projectId + "&name=" + name;
      }

      function viewCodeWindow(id){
        location.href="/set_code?code_id="+id+"&project_id="+{{project_id}}
      }
    </script>
  </body>
</html>
